# ---------------------------------------------------------
# COMMON IGNORE FILE FOR FLUTTER, ANDROID, iOS, WINDOWS, VS CODE
# ---------------------------------------------------------

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.history
.svn/
.swiftpm/
migrate_working_dir/

# Models
assets/models/*

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.packages
.flutter-plugins-dependencies
.pub-cache/
.pub/
.build/
build/
coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android-specific
android/.gradle/
android/local.properties
/android/app/debug
/android/app/profile
/android/app/release

# iOS-specific
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/.last_build_id

# macOS
macos/Flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/
