# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.build/
.pub/
flutter_*.png

# Build outputs
build/

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Android
android/.gradle/
android/local.properties

# VSCode
.vscode/

# macOS
macos/Flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Misc
.DS_Store
*.log
*.lock
*.iml
*.jks
*.keystore

# Models
assets/models/*
